.sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
    width: 0% !important;
}

.sidebar.open {
    width: 25% !important;
}

.content {
    transition: width 0.3s ease;
    width: 100%;
}

.content.shrink {
    width: 75%;
}
@media (max-width: 900px) {
    .sidebar.open {
        width: 100%;
        min-width: 100%;
    }

    .content.shrink {
        width: 100%;
        min-width: 100%;
    }
    
    .menu-button{
        left : 100%;
    }
}